body {
    background-color: #F5F5F5;
}
#root {
    width: 800px;
    margin: 0 auto;
}
li {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 800px;
    border: 2px solid #007BFF;
    padding: 10px 5px;
    margin-bottom: 15px;
}
.task__content {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.task__left {
    display: flex;
    align-items: center;
}
.task__right {
    display: flex;
    align-items: center;
}
.task__right button {
    margin-left: 10px; 
}
/* Добавлю стили для чекбокса и лейбла, чтобы было красиво */
.task__checkbox {
    display: flex;
    align-items: center;
    margin-right: 15px;
}